* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(95, 162, 216);
  white-space: nowrap;
  font-size: 11px;
  align-items: center;
}

.traffic-header{
  display: block;
  justify-content: space-between;
  width: 100%;  
}
.traffic{
  width: 100%;
}
.traffic-list.traffic-nav{
  list-style: none;
    display: flex;
  justify-content: flex-end
}
 ul li{

  padding : 0 10px 0 10px;
  font-size: 20px;
  }
  


.product-list {
 
  display: inline-block;
  border-radius: 4px;
 
  cursor: pointer;
}

.active{
  background-color: #6fd649;
}



.TGButtons{
margin-bottom: 30px;
}
.navigation{
  background: rgb(75, 106, 152);
fill: rgb(240, 243, 245);
grid-area: navigation;
}
main {
  background-color: lightblue;
}
svg {
  width: 50px;
  cursor: pointer;
}


h1 {
  margin-right: auto;
}

.nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: rgb(75, 106, 152);

}



#profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto 0;
}

.bell-svg {
  width: 1rem;
  margin: 30px;

}
.nav svg{
  margin: 20px;
}
.bell-svg:hover{
  animation: shake 0.5s; 
  animation-iteration-count:infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.head {
  display: flex;
  align-items: center;
}

.main {
  grid-area: main;
}
h5 {
  margin: 30px;
}

svg {
  display: block;
  margin: 1em auto;
  width: 1.7rem;
  margin: 25px;
  color: white;
}
.greendot {
  width: 0.3rem;
  height: 0.3rem;
  opacity: 1;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  right: 29px;
  top: 25px;
}
#bell{
  position: relative;
top: 5px;
margin-left: 30px;
}
h5{
  margin: 19px;
}
.header h2{
  margin-left: 10px;
}
.grow{
  border-right: lightgray solid 1px;
margin-top: 5px;
margin-bottom: 10px;
right: 20px;
height: 65%;
}
.social-text{
  padding-left:20px;
}
.amnt {
  margin-left: auto;
  font-size: 2.5rem;
  font-weight: lighter;
  color: gray;
  margin-top:  -24px;
  
  
}
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    " main";
}
p.MName{
  text-align: center;
}
.main-container {
  grid-area: header;
}
.social-stats {
padding: 10px;
}
/* .new-members, .activities{ */
  /* padding: 10px; */
/* } */
.new-members{
  border-right: 1px solid black;
}


.widget-container-full,
.widget-container-half {
  width: 100%;
}
.alert,
.closebtn {
  display: inline-flex;
  
}
.closebtn {
  margin-right: 23px;
  margin-top: 16px;
  float: right;
}


/* The actual popup */

/* Popup arrow */

/* Toggle this class - hide and show the popup */

.popupers {
  width: 70%;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popupers button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.member-photo {
  border-radius: 50%;
}

.social-container {
  display: inline-flex;
  flex-direction: row;
  background-color: rgba(233, 229, 223, 0.492);
  padding:15px 25px 5px;
  width: 100%;
  margin-top: 10px;
}

.social-image {
  background-color: rgb(116,119,191);
  border-radius: 50%;
  height: 50%;
  margin-top:10px;
}

#alert { 
  padding: 4px 0 4px;
  margin: 0 10px 0 10px;
  background-color: rgb(173, 132, 206);
  border-radius: 10px;
  padding-bottom: 10px;
}

.activities h3 {
padding-left: 7px;
}

.alert-banner-close {
  /* float: right; */
  display: flex;
  margin-right: 50px;
  text-align: center;
  margin-top: -36px;
}

.new-members h3,
.recent-members h3 {
padding-left: 5px;
}
.pointer {
  visibility: hidden;
}

/*  message field */

form.widget-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(95% - 10px);
  margin-top: 30px;
}

button#send.button-primary {
  border-radius: 10px;
  background-color: #7747bf;
  color: white;
  border: none;
  line-height: 4;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.message-field {
  grid-area: message-field;
  outline: none;
  height: 7rem;
  margin: 10px 0;
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 5px;
}
.switch-ios.switch-light > .toggleEFFect {
  background-color: #7747bf;

  width: 450px;
 margin-left: auto;

}

.switch-ios.switch-light input:checked ≈ {
  border-color: #7747bf;
  box-shadow: inset 0 0 0 30px #7747bf;
  color: #fff;
}

button#save.button-primary {
  border: none;
  background-color: #7747bf;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

button#cancel.button-disabled {
  border: none;
  background-color: lightgray;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.switch-ios.switch-light, .properties{
width: 100%;
}

label.switch-ios.switch-light{
  position: relative;
  display: flex;

}
.properties{


  margin: 8px;
 width: 100%;
flex:  1 1 70em;
 font-weight: 400;
}


 .SaveCancel { 
  text-align: center;
  display: flex;
  flex-direction: row; 
line-height: 4;
border: none;
padding: 1px 6px;
margin-bottom: 10px;
}
.form-field {

  outline: none;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 10px;
  
}
#timezone {
  width: 98%;
  margin-bottom: 10px  
}
.switch-ios.switch-light{
  margin-top: 31px;
}
.traffic h3{
  margin-right: auto;
}
.members-acctive{
  text-align: center;
}
.member-info p {
  width: auto;
  margin: 10px 5px 10px;
  right: 20px;
  align-items:  center;
}
.members-container,
.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: black solid 1px;
  margin-top: 10px;
}
.message h3{
  padding-left: 7px;
}
.settings h3{
  padding-left: 7px;
}
/* MEDIA QUERIES1 */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 90px 1fr;
    grid-template-areas:
      "header header"
      "navigation main"
      "navigation main";
  }
  .pointer {
    visibility: visible;
  }
  .nav{




    width: 90px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .members-container {
    flex-direction: row;
    gap: 20px;
  }

  .members-container > span {
    font-size: 18px;
    color: #7477bf;
    margin-right: 20px;
    margin-bottom: 31px;
  }

  .social-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(233, 229, 223, 0.492);
    margin: auto;
    width: 100%;
    padding: 10px;
    /* height: 45%; */
    margin-right: 10px;
    align-items: center;
    
  }
.social-image .social-text{
  padding: 0 20px 0 20px;
}
.social-text{
  margin-top: 20px;
}
  .members-container {
    display: inline-flex;
    flex-direction: row;
   width: 100%;
    padding: 10px;
  }
  .new-members,
  .activity {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .headline{
    padding-left: 7px;
  }

  .traffic,
  .mobile {
    width: 48%;
    flex-wrap: wrap;
    right: 20px;
    display: inline-flex;
    flex-direction: row;
    padding: 10px 5px 10px;

  }
  .traffic{
    border-right: #333 solid 1px;
  height: 100%;
  padding: 12px 5px 30px
  }
  #DailyMbl{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  


  .MName,
  p,
  .pointer {
    width: auto;
    margin-left: auto;
    margin-right: 30px;
  }

  .social-container {
    flex-direction: row;
  }


  .social {
    grid-column: 1 / span 2;
  }


  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .members-and-activities {
    grid-column: 1 / span 1;
  }
  .new-members,
  .activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .social-image{
    height: 45%;
    margin-bottom:17px;

  }
  #daily-chart, #mobile-chart{
    width: 50%;
  }

  .social-cc {
    display:inline-flex;
    justify-content: center;
    flex-direction: row;
padding: 10px;
  }
    .traffic-list .traffic-nav li{

    margin: auto;
    position: absolute;
    }
   .ListTraffics{
      position: relative;
    }
    .traffic-header{
      display: flex;
      width: 100%;
    }

}

/* MEDIA QUERIES2 */

@media (min-width: 1024px) {
  .traffic,
  .mobile {
    grid-column: 1 / span 1;
  }

  .new-members h3,
  .activity h3 {
padding-left: 7px; 
 }
 .social-container{
  margin: auto;
  margin-right: 10px;
 }
  .member-photo {
    width: 48.9px;
    
  }
  .members-container{
    height: 91px;
  }

  .member-info,
  .pointer {
    font-size: 14px;
  }
  .social-image{
    height: 85%;
  }



  .members-and-activities {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-auto-flow: column;
    border-top: #333 solid 1px;
  }

  .grid-container {
    grid-template-columns: 90px 1fr;
    grid-template-areas:
      "header header"
      "navigation main"
      "navigation main";
  }

  .form-field {
    grid-area: message-field;
    outline: none;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 5px;
    /* margin-top: 60px; */

  }
  .message-and-settings {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 10px;
    grid-auto-flow: column;
  }
  .message h3{
    padding-left: 7px;
  }
  .settings h3{
    padding-left: 7px;
  }
 .message{
  border-right: 1px solid black;
 }
 .traffic-header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  
}
.traffic-list.traffic-nav li{
  display: inline-flex;
  list-style: none;
  padding: 7px 3px 7px 3px;


}


  button#save.button-primary {
    border: none;
    background-color: #7747bf;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-right: 30px;


  }
  .members-acctive .new-members{
    margin-top: 10px;
  }
  .SaveCancel  #timezone{
    display: flex;
    flex-direction: row;
   width: 69%;
    margin-top: 50px; 
  
     /* margin-top: 20px; */
  }
  .switch-ios.switch-light{
    margin-bottom: 24px;
    width: 100%;
  }
  button#cancel.button-disabled {
    border: none;
    background-color: lightgray;
    border-radius: 10px;
    color: white;
    cursor: pointer;

  }
  .traffic-header{
    display:flex;
    justify-content: space-between;
    width: 100%;  
  }
  
.social-image {

  margin-top:10px;
}
.nav{
  align-items: center;
  margin: 0 auto;
}
  .social-cc {
    display:flex;
    justify-content: center;
    flex-direction: row;
  }
  .MName,
  .member-info p,
  .pointer {
    width: auto;
    margin-left: auto;
    text-align: left;
  }
  .settings-button {
    text-align: center;
  }
  #daily-chart, #mobile-chart{
    width: 50%;
  }

}