* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(95, 162, 216);
}
main {
  background-color: lightblue;
}
svg {
  width: 50px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
}
h1 {
  margin-right: auto;
}

.navigation {
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(75, 106, 152);
  fill: rgb(240, 243, 245);
}
.nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  grid-area: navigation;
  background-color: red;
}

#profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto 0;
}

.bell-svg {
  width: 1.7rem;
  margin: 30px;
}

.head {
  display: flex;
}

.main {
  grid-area: main;
}
h5 {
  margin: 40px;
}

svg {
  display: block;
  margin: 1em auto;
  width: 2.7rem;
  margin: 25px;
  color: white;
}

.dot {
  position: absolute;
  display: flex;
  transform: translateY(-60px);
  padding: 3px;
  background-color: #90ee90;
  border-radius: 50%;
  right: 200px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    " main";
}

.main-container {
  grid-area: header;
}
.social-stats {
  text-align: center;
}
.new-members {
  text-align: center;
}
.widget-container-full,
.widget-container-half {
  width: 100%;
  border: 1px solid gray;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.member-photo {
  border-radius: 50%;
}

.social-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: rgba(233, 229, 223, 0.492);
  flex-wrap: wrap;
  padding: 5px 25px 5px;
  margin: 10px;
}

.social-image {
  background-color: hsla(270, 28%, 55%, 0.625);
  border-radius: 50%;
}

#alert {
  padding: 4px 0 4px;
  margin: 0 10px 0 10px;
  background-color: rgb(173, 132, 206);
  border-radius: 10px;
  padding-bottom: 10px;
}

.alert-banner-close {
  float: right;
  display: flex;
  margin-right: 50px;
  text-align: center;
  margin-top: -36px;
}

.new-members h3,
.recent-members h3 {
  text-align: left;
}
.pointer {
  visibility: hidden;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 90px 1fr;
    grid-template-areas:
      "header header"
      "navigation main"
      "navigation main";
  }
  .pointer {
    visibility: visible;
  }
  .nav {
    flex-direction: column;
  }
  .members-container {
    flex-direction: row;
    gap: 20px;
  }

  .members-container > span {
    font-size: 18px;
    color: #7477bf;
    margin-right: 20px;
  }

  .social-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(233, 229, 223, 0.492);
    flex-wrap: wrap;
    margin: 5px 3px 5px;
    width: 100%;
    padding: 10px;
  }
  .social-cc {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .members-container {
    display: inline-flex;
    flex-direction: row;
    background-color: rgba(233, 229, 223, 0.492);
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }
  .new-members,
  .activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    bottom: 0;
  }
  .traffic,
  .mobile {
    width: 48%;
    display: inline-flex;
    flex-direction: row;
    margin: 10px 5px 10px;
    flex-wrap: wrap;
    right: 20px;
  }
  .member-info a {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 10px 5px 10px;
    flex-wrap: wrap;
    right: 20px;
  }

  .MName,
  p,
  .pointer {
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: 30px;
  }

  .widget-container-full {
    width: 100%;
  }
  .widget-container-half {
    width: 100%;
  }

  .social-container {
    flex-direction: row;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .members-and-activities {
    grid-column: 1 / span 1;
  }
  .new-members,
  .activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  .traffic,
  .mobile {
    grid-column: 1 / span 1;
  }

  .new-members h3,
  .activity h3 {
    text-align: left;
  }

  .alert p {
    display: grid;
    grid-row-gap: 24px;
    grid-column-gap: 16px;
    margin: 20px;
  }

  .navigation {
    display: flex;
    width: 500px;
    height: 100%;
    background: rgb(75, 106, 152);
    fill: rgb(240, 243, 245);
  }

  .members-and-activities {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 10px;
    grid-auto-flow: column;
    border: 1px solid gray;

  }

  .grid-container {
    grid-template-columns: 90px 1fr;
    grid-template-areas:
      "header header"
      "navigation main"
      "navigation main";
  }
  .form-field {
    grid-area: message-field;
    outline: none;
    height: 7rem;
    margin: 10px 0;
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 5px;
  }
  .message-and-settings{
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 10px;
    grid-auto-flow: column;

  }
  .message{
    border: 1px solid gray;

  }
  .MName,
  p,
  .pointer {
    width: auto;
    margin-left: auto;
    margin-right: 30px;
  }
  .settings-button{
    text-align: center;
  }
}
